<app-nav-bar></app-nav-bar>
<br>
<br>
<br>
<div class="container is-fluid">
  <p class="title is-3 is-spaced has-text-light ">{{subName}}</p>
  <div class="content has-text-light has-text-left">{{ subDescription }}</div>
  <br>
  <div class="columns">
    <div class="column is-1">
      <p *ngIf = "hot === true" class="title is-5 is-spaced has-text-primary is-clickable" (click) = "hotOnclick()">Hot</p>
      <p *ngIf = "hot === false" class="title is-5 is-spaced has-text-light is-clickable" (click) = "hotOnclick()">Hot</p>
    </div>
    <div class="column is-1">
      <p *ngIf = "hot === true" class="title is-5 is-spaced has-text-light is-clickable" (click) = "newOnclick()">New</p>
      <p *ngIf = "hot === false" class="title is-5 is-spaced has-text-primary is-clickable" (click) = "newOnclick()">New</p>
    </div>
  </div>

  <div class="columns">
    <div class="column is-three-quarters ">
      <app-post-view [id]="p.id" [title]="p.postName" [content]="p.description" [date]="p.duration" [rate]="p.voteCount" [vote]="p.myVote" [subName]="p.sub.name" [author]="p.user.username" [image]="'{{ p.user.getPicture() }}'" [authorId]="p.user.id" [subId]="p.sub.id" *ngFor="let p of posts"></app-post-view>

    </div>
    <div class="column is-one-quarter">
      <app-card-create-post></app-card-create-post>
    </div>
</div>
