<div class="aligned" style="margin-left: 5%;">
    <img class="is-rounded" src="assets/profile_picture.png">
    <h1 class="title is-1 has-text-light title-underlined">Emmanuel Macron</h1>
</div>

<div class="columns">
    <div class="column">

    </div>

    <div class="column is-half">
        <div style="overflow: auto;">
            <label style="float: right;">
                <h2 class="title has-text-light" style="display: inline;">Filter : </h2>
                <div class="select">
                    <select>
                      <option>All</option>
                      <option>Posts</option>
                      <option>Comments</option>
                      <option>Votes</option>
                    </select>
                </div>
            </label>
        </div>

        <br />
        <br />

        <!-- TODO Génération automatique des posts depuis requete -->

        <p class="has-text-light">&nbsp;&nbsp;Emmanuel Macron a posté</p>
        <app-post-view></app-post-view>
        <br>

        <p class="has-text-light">&nbsp;&nbsp;Emmanuel Macron a commenté</p>
        <app-post-view></app-post-view>
        <div style="margin-inline: auto; width: 98%;">
            <app-comment-preview></app-comment-preview>
        </div>
        <br>

        <p class="has-text-light">&nbsp;&nbsp;Emmanuel Macron a aimé</p>
        <app-post-view></app-post-view>
    </div>

    <div class="column">
        
    </div>
</div>