@import '/src/styles.scss';

.title-underlined {
    margin-left: 2%;
    border-color: $primary;
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

.aligned { 
    display: flex;
    align-items:center;
}

.inline {
    display: inline;
}

.image-cropper {
    width: 10em;
    height: 10em;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}