<app-nav-bar></app-nav-bar>
<br>
<br>
<br>
<div class="container is-fluid">
  <p class="title is-4 is-spaced has-text-light has-text-weight-semibold text-decoration: underline"  style="text-decoration: underline">{{subjectName}}</p>
  <br>

  <div class="columns">
    <div class="column is-three-quarters ">
      <app-post-view-in-context [author]="'wsh'" [title]="post.postName" [content]="post.description" [date]="post.createdDate" [subName]="'{{subjectName}}'" [rate]="post.voteCount"></app-post-view-in-context>     
    </div>
    

    <div class ="column is-one-quarter position:" >
      <!--zebi-->
      <div class="card has-background-grey block" >
        <div class="card-content">
          <div class="content is-size-4 has-text-light has-text-weight-bold">
            Browse subs
          </div>
          <div class="content is-size-5 has-text-light has-text-weight-light is-clickable">r/IGMFacts</div>
          <div class="content is-size-5 has-text-light has-text-weight-light is-clickable">r/IGMCodingLife</div>
          <div class="content is-size-5 has-text-light has-text-weight-light is-clickable">r/IGMCrazyCoders</div>
          <div class="content is-size-5 has-text-light has-text-weight-light is-clickable">r/IGMCoderLifeStyle</div>
          <div class="content is-size-5 has-text-light has-text-weight-light is-clickable">r/IGMLoveUForax</div>
          <div class="content is-size-5 has-text-centered has-text-light has-text-weight-semibold is-clickable">view all</div>
        </div>
      </div>
    </div>
  </div>
</div>
