// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

// 2. Set your own initial variables
// Update blue
$reddIGM-green: #247D4C;
$reddIGM-green-invert: findColorInvert($reddIGM-green);
$reddIGM-background: #2C2F33;
$reddIGM-background-invert: findColorInvert(reddIGM-background);
$reddIGM-search: #3F4449;
$reddIGM-search-invert: findColorInvert(reddIGM-search);
$reddIGM-light: #667177;
$reddIGM-light-invert: findColorInvert(reddIGM-light);
// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $reddIGM-green;
$dark: $reddIGM-background;
$info: $reddIGM-search;
$light: $reddIGM-light;

// 5. Add new color variables to the color map.
@import "../node_modules/bulma/sass/utilities/derived-variables";
$addColors: (
  "reddIGM-green":($reddIGM-green, $reddIGM-green-invert),
  "reddIGM-background":($reddIGM-background, $reddIGM-background-invert),
  "reddIGM-search":($reddIGM-search, $reddIGM-search-invert),
  "reddIGM-light":($reddIGM-light, $reddIGM-light-invert),
);
$colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma
@import "../node_modules/bulma";
