<app-nav-bar></app-nav-bar>
<br>
<br>
<br>
<div class="container is-fluid">
  <p class="title is-4 is-spaced has-text-light has-text-weight-semibold text-decoration: underline"  style="text-decoration: underline">r/wafwaf</p>
  <br>

  <div class="columns">
    <div class="column is-three-quarters ">
    
      <app-post-view-in-context [author]="'BigdickEnergy'" [title]="'Lorem Ipsum'" [content]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel nunc eget nisi efficitur iaculis. Ut lorem odio, mollis condimentum augue lobortis, ultrices gravida nibh. Sed nec posuere magna, non elementum sapien. Phasellus sagittis porta blandit. Pellentesque dolor enim, imperdiet eget dolor ac, fringilla pellentesque quam. Donec arcu mauris, consectetur eget semper vitae, placerat eu sem. Nam eu porta enim, ac congue massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras sit amet iaculis elit. Praesent vel elementum arcu, et imperdiet justo. '" [date]="'17/01/2021'" [subName]="'BigdickEnergy'" [rate]="22"></app-post-view-in-context>
     
    </div>
    

    <div class="column is-one-quarter position:" >
      <app-titled-card-button></app-titled-card-button>
      <div class="card has-background-grey block" >
        <div class="card-content">
          <div class="content is-size-4 has-text-light has-text-weight-bold">
            Browse subs
          </div>
          <div class="content is-size-5 has-text-light has-text-weight-light is-clickable">r/IGMFacts</div>
          <div class="content is-size-5 has-text-light has-text-weight-light is-clickable">r/IGMCodingLife</div>
          <div class="content is-size-5 has-text-light has-text-weight-light is-clickable">r/IGMCrazyCoders</div>
          <div class="content is-size-5 has-text-light has-text-weight-light is-clickable">r/IGMCoderLifeStyle</div>
          <div class="content is-size-5 has-text-light has-text-weight-light is-clickable">r/IGMLoveUForax</div>
          <div class="content is-size-5 has-text-centered has-text-light has-text-weight-semibold is-clickable">view all</div>
        </div>
      </div>
    </div>
  </div>
</div>
