<app-nav-bar></app-nav-bar>
<br>
<br>
<br>
<div class="container is-fluid">
  <p class="title is-3 is-spaced has-text-light ">Reddigm posts</p>
  <br>
  <div class="columns">
    <div class="column is-1">
      <p class="title is-5 is-spaced has-text-primary is-clickable">All</p>
    </div>
    <div class="column is-1">
      <p class="title is-5 is-spaced has-text-light is-clickable">Hot</p>
    </div>
    <div class="column is-1">
      <p class="title is-5 is-spaced has-text-light is-clickable">New</p>
    </div>
  </div>
  <div class="columns">
    <div class="column is-three-quarters ">
      
      <app-post-view [author]="'truc'" [title]="'truc'" [content]="'truc'" [date]="'truc'" [subName]="'truc'" [rate]="'122'"></app-post-view>
      <app-post-view [author]="'truc'" [title]="'truc'" [content]="'truc'" [date]="'truc'" [subName]="'truc'" [rate]="'122'"></app-post-view>
      <app-post-view [author]="'truc'" [title]="'truc'" [content]="'truc'" [date]="'truc'" [subName]="'truc'" [rate]="'122'"></app-post-view><app-post-view [author]="'truc'" [title]="'truc'" [content]="'truc'" [date]="'truc'" [subName]="'truc'" [rate]="'122'"></app-post-view>
      <app-post-view [author]="'truc'" [title]="'truc'" [content]="'truc'" [date]="'truc'" [subName]="'truc'" [rate]="'122'"></app-post-view>
      <app-post-view [author]="'truc'" [title]="'truc'" [content]="'truc'" [date]="'truc'" [subName]="'truc'" [rate]="'122'"></app-post-view><app-post-view [author]="'truc'" [title]="'truc'" [content]="'truc'" [date]="'truc'" [subName]="'truc'" [rate]="'122'"></app-post-view>
      <app-post-view [author]="'truc'" [title]="'truc'" [content]="'truc'" [date]="'truc'" [subName]="'truc'" [rate]="'122'"></app-post-view>
      <app-post-view [author]="'truc'" [title]="'truc'" [content]="'truc'" [date]="'truc'" [subName]="'truc'" [rate]="'122'"></app-post-view><app-post-view [author]="'truc'" [title]="'truc'" [content]="'truc'" [date]="'truc'" [subName]="'truc'" [rate]="'122'"></app-post-view>
      <app-post-view [author]="'truc'" [title]="'truc'" [content]="'truc'" [date]="'truc'" [subName]="'truc'" [rate]="'122'"></app-post-view>
      <app-post-view [author]="'truc'" [title]="'truc'" [content]="'truc'" [date]="'truc'" [subName]="'truc'" [rate]="'122'"></app-post-view><app-post-view [author]="'truc'" [title]="'truc'" [content]="'truc'" [date]="'truc'" [subName]="'truc'" [rate]="'122'"></app-post-view>
      <app-post-view [author]="'truc'" [title]="'truc'" [content]="'truc'" [date]="'truc'" [subName]="'truc'" [rate]="'122'"></app-post-view>
      <app-post-view [author]="'truc'" [title]="'truc'" [content]="'truc'" [date]="'truc'" [subName]="'truc'" [rate]="'122'"></app-post-view>

    
    </div>
    
    <div class="column is-one-quarter position:fixed" >
      <div class="card has-background-grey block" >
        <div class="card-content">
          <div class="content is-size-4 has-text-centered has-text-light has-text-weight-bold">
            Reddigm posts allows you to talk about whatever you want
          </div>
          <div class="box has-text-centered has-background-grey is-shadowless">
            <a class="button is-primary has-text-weight-bold is-fullwidth"> CREATE POST </a>
          </div>
        </div>
      </div>
      <div class="card has-background-grey block" >
        <div class="card-content">
          <div class="content is-size-4 has-text-light has-text-weight-bold">
            Browse subs
          </div>
          <div class="content is-size-5 has-text-light has-text-weight-light is-clickable">r/IGMFacts</div>
          <div class="content is-size-5 has-text-light has-text-weight-light is-clickable">r/IGMCodingLife</div>
          <div class="content is-size-5 has-text-light has-text-weight-light is-clickable">r/IGMCrazyCoders</div>
          <div class="content is-size-5 has-text-light has-text-weight-light is-clickable">r/IGMCoderLifeStyle</div>
          <div class="content is-size-5 has-text-light has-text-weight-light is-clickable">r/IGMLoveUForax</div>
          <div class="content is-size-5 has-text-centered has-text-light has-text-weight-semibold is-clickable">view all</div>
        </div>
      </div>
    </div>
  </div>
</div>
