input.input.is-primary.title-post{
	margin-top: 10px;
	margin-bottom: 10px;
}


.modal-card-head {
	background-color: #247D4C;
	border-bottom-color: #247D4C;
}

.button.is-success{
	background-color: #247D4C;
}

.modal-card-foot {
	background-color: #3F4449;
	border-top-color: #3F4449;
}

.modal-card-body {
	background-color: #3F4449;
}

// .input {
// 	background-color: #667177;
// }

.cke_contents{
	background-color: #667177;
}
