<div class="card" style="background-color: #303336;">
    <div class="card-content">
        <div class="content">
            <h1 *ngIf="comment.user" class="title is-4 has-text-light" style="display: flex; align-items:center;">
                <img class="is-rounded" src="{{ comment.user.getPicture() }}" style="height: 1.3em;">
                &nbsp;&nbsp;{{ comment.user.username }}
            </h1>
            <p class="has-text-grey-lighter" [innerHTML]="comment.text" ></p>
        </div>
    </div>
</div>