<div class="card" style="background-color: #303336;">
    <div class="card-content">
        <article class="media">
            <figure class="media-left">
              <a>
                <img class="is-rounded image-cropper" src="{{ comment.user.getPicture() }}" (click)="goToUser()">
              </a>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong class="has-text-grey-light" (click)="goToUser()">{{ comment.user.username }}</strong> <time style="margin-left: 3%;">{{ comment.getDate().toLocaleString() }}</time>
                  <br>
                  <br>
                  <span class="has-text-grey-lighter" [innerHTML]="comment.text"></span>
                </p>
              </div>
            </div>
            <a class="media-right tooltip" (click)="goToPost()">
              <button class="fas fa-directions fa-2x"></button>
              <span class="tooltiptext">See comment in context</span>
            </a>
          </article>
    </div>
</div>