<app-nav-bar></app-nav-bar>
<br>
<br>
<br>
<div class="container is-fluid">
  <p class="title is-3 is-spaced has-text-light ">Reddigm subs</p>
  <br>
  <div class="columns">
    <div class="column is-three-quarters ">
      <div *ngFor="let s of subjects">
        <div class="card has-background-grey block" style="margin-bottom: 20px;">
          <div class="card-content">
            <div class="content is-size-4 has-text-light has-text-weight-bold">
              {{s.name}}
            </div>
            <div class="content has-text-light">
              {{ s.description }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-one-quarter">
      <app-card-create-sub></app-card-create-sub>
    </div>
  </div>
</div>
