<div class="card has-background-grey block" style="margin-bottom: 20px;">
  <div class="card-content">
    <div class="columns">
      <div class="column is-1"></div>
      <div class="column is-10">
        <div class="content is-size-4 has-text-light has-text-weight-bold">
          {{ title }}
        </div>
        <div class="content has-text-light">
          {{ content }}
        </div>
        <div class="columns">
          <div class="column is-1">
            <div class="content has-text-primary is-clickable has-text-left">{{ author }}</div>
          </div>
          <div class="column is-2"></div>
          <div class="column is-2">
            <div class="content has-text-light is-clickable has-text-left">{{ date }}</div>
          </div>
          <div class="column is-5"></div>
          <div class="column is-2">
            <div class="content has-text-light is-clickable has-text-left has-text-weight-bold">{{ subName }}</div>
          </div>
        </div>
      </div>
      <div class="column is-1"></div>
    </div>
  </div>
</div>