<div class="columns">
    <div class="column is-1"></div> <!-- Offset -->

    <div class="column">
        <h1 class="title is-1 has-text-light" style="text-align: center;">
            Join Reddigm today !
        </h1>

        <br />

        <figure class="image is-16by9">
            <img src="assets/connected_world_map.png">
        </figure>

        <br />

        <h2 class="subtitle has-text-light" style="text-align: center;">
            A safe place where you can share your biggest shames across the world
        </h2>
    </div>

    <div class="column is-1"></div> <!-- Offset -->

    <div class="column">
        <br />

        <div class="field">
            <label class="control has-text-white">&nbsp;&nbsp;Username <span class="has-text-danger">*</span>
                <input class="input is-primary" placeholder="Username">
            </label>
        </div>

        <div class="field">
            <label class="control has-text-white">&nbsp;&nbsp;Email address <span class="has-text-danger">*</span>
                <input class="input is-primary" placeholder="Email address">
            </label>
        </div>

        <div class="field">
            <label class="control has-text-white">&nbsp;&nbsp;Password <span class="has-text-danger">*</span>
                <input class="input is-primary" placeholder="Password">
            </label>
        </div>

        <div class="field">
            <label class="control has-text-white">&nbsp;&nbsp;Confirm password <span class="has-text-danger">*</span>
                <input class="input is-primary" placeholder="Confirm password">
            </label>
        </div>
        
        <div style="padding-left: 1%;">
            <div class="field">
                <label class="checkbox has-text-light">
                    <input type="checkbox" />
                    I agree to get emails about cool stuff on Reddigm.
                </label>
            </div>
    
            <p class="has-text-light">By creating an account, you agree the <a href="#"><u>Terms of Service</u></a>.</p>
        </div>

        <br/>

        <div>
            <p class="control is-expanded">
                <button class="button is-primary">Create account</button>
            </p>
        </div>
    </div>

    <div class="column is-1"></div> <!-- Offset -->
</div>