<app-nav-bar></app-nav-bar>
<br>
<br>
<div class="container is-fluid">
  <div class="columns">
    <div class="column is-4"></div>
    <div class="column is-4">
      <p class="title is-1 is-spaced has-text-light has-text-centered">Create sub</p>
    </div>
  </div>
  <div class="columns">
    <div class="column is-3"></div>
    <div class="column is-6">
      <p class="title is-4 is-spaced has-text-light has-text-centered block">Create a subject allows you to create a new discussion subject where people can add posts to talk about this subject </p>
    </div>
  </div>
  <div class="columns">
    <div class="column is-4"></div>
    <div class="column is-4">
      <br>
      <p class="title is-5 is-spaced has-text-light block">Add a subject name</p>
      <input class="input is-success block" type="text" placeholder="Sub name" id="subName">
      <br>
      <p class="title is-5 is-spaced has-text-light block">Add a subject description</p>
      <input class="input is-success block" type="text" placeholder="Sub description" id="subDesc">
      <br>
      <br>
      <br>
      <a class="button is-primary has-text-weight-bold is-fullwidth" (click)="create()"> CREATE </a>
    </div>
    <div class="column is-4"></div>
  </div>
</div>
