<div class="card has-background-grey block" style="margin-bottom: 5px;">
    <div class="card-content">
      <div class="columns is-vcentered">
        <div class="column is-1 has-text-centered">
          <fa-icon [icon]="faPlusCircle" class="content is-clickable has-text-light" style="font-size: 24px;"></fa-icon>
          <p class="has-text-light is-size-5" > {{ rate }} </p>
          <fa-icon [icon]="faMinusCircle"class="content is-clickable has-text-light" style="font-size: 24px;"></fa-icon>
        </div>
        <div class="column is-10">
          <div class="content is-size-4 has-text-light has-text-weight-bold">
            {{title}}
          </div>
          <div class="content has-text-light">
            {{content}}
          </div>
          <div class="columns is-vcentered">
  
            <div class="column is-1 ">
              <figure class="image is-32x32">
                <img class="is-rounded is-clickable" src = {{image}} (click)="displayAuthor()"> 
              </figure>
            </div>
            
            <div class="column is-1 has-text-left">
              <div class="content has-text-primary is-clickable "(click)="displayAuthor()">{{author}} </div>
            </div>
  
            <div class="column is-1"></div>
            <div class="column is-2">
              <div class="content has-text-light is-clickable has-text-left">{{date}}</div>
            </div>
            <div class="column is-3"></div>
            <div class="column is-2">
              <div class="content has-text-light is-clickable has-text-left " (click)="openModalCreatePost()">        
                <fa-icon [icon]="faReply"class="content is-clickable has-text-light"  style="font-size: 18px;"> </fa-icon>  
                  Reply
              </div>  
            </div>
            <div class="column is-3">
              <div *ngIf = "showComments === false"class="content has-text-light is-clickable has-text-left "  (click)="displayResponses()">        
                <fa-icon [icon]="faCommentAlt"class="content is-clickable has-text-light" style="font-size: 18px;"> </fa-icon>  
                 Comments
              </div>  
              <div *ngIf = "showComments === true" class="content has-text-light is-clickable has-text-left "  (click)="hideResponses()">        
                <fa-icon [icon]="faChevronCircleUp"class="content is-clickable has-text-light" style="font-size: 18px;"> </fa-icon>  
                 Hide
              </div>  
            </div>
          </div>
        </div>
        <div class="column is-1"></div>
      </div>
    </div>
      <app-create-post [openModal]= "isModalActive" (openModelChange)="isModalActive = false"></app-create-post>
  </div>
  <div *ngIf = "showComments === true" class="columns">
    <div class="column is-1">
      <p *ngIf = "hot === true" class="title is-5 is-spaced has-text-primary is-clickable" (click) = "hotOnclick()">Hot</p>
      <p *ngIf = "hot === false" class="title is-5 is-spaced has-text-light is-clickable" (click) = "hotOnclick()">Hot</p>
    </div>
    <div class="column is-1">
      <p *ngIf = "hot === true" class="title is-5 is-spaced has-text-light is-clickable" (click) = "newOnclick()">New</p>
      <p *ngIf = "hot === false" class="title is-5 is-spaced has-text-primary is-clickable" (click) = "newOnclick()">New</p>
    </div>
  </div>
  <div class="columns" *ngFor="let c of comments">
    <div class="column is-1" >
    </div>
    <div class="column is-11" >
      <app-post-view-in-context [id] = c.commentId [type] = "'comment'" [author] = c.userName [title] = "''" [content] = c.text [date] = c.creationDate [subName] = "''" [rate] = c.nbVote></app-post-view-in-context>
    </div>
  
  </div>
  
  
  