<nav class="navbar is-fixed-top has-background-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="http://localhost:4200/">
      <img
        src="./assets/img/logo.svg"
        width="112px"
        height="28px"
      />

    </a>
  </div>
  <div class="navbar-start" style="flex-grow: 2; justify-content: center;">
    <div class="navbar-item">
      <div class="field has-addons">
        <div class="control is-dark">
			<input type="search" [(ngModel)]="searchText" (input)="search()" placeholder="Search text">
        </div>

      </div>
    </div>
  </div>

    <div class="navbar-end">
        <div class="navbar-item" *ngIf="!isAuthentified">
          <div class="buttons">
            <a class="button is-primary is-outlined" href="/register">
              <strong>Sign up</strong>
            </a>
            <a class="button is-primary" href="/login"> Log in </a>
          </div>
        </div>
        <div class="navbar-item is-clickable" *ngIf="isAuthentified">
          <figure class="image is-28x28">
            <img class="is-rounded" src=picture>
          </figure>
          <div class="columns is-vcentered">
            <div class="column">
              <div class="content has-text-primary is-clickable has-text-left has-text-weight-bold">{{name}}</div>
            </div>
          </div>
        </div>
        <div class="navbar-item is-clickable" *ngIf="isAuthentified">
          <a class="button is-primary" (click)="logout()" href="/home"> Log out </a>
        </div>
    </div>

</nav>
